Predicting catalog demand with python logisitic reg.ipynb
mailinglist_no_probs.xlsx
/jupyter in MD/
.ipynb_checkpoints/Predicting catalog demand with python OMG-checkpoint.ipynb
.ipynb_checkpoints/Predicting catalog demand with python-checkpoint.ipynb



